header {
	display: flex;
	flex-wrap: wrap;
	justify-content: left;
	align-items: center;
	margin-top: 25px;
}

.logo {
	margin-left: 50px;
	margin-right: 20px;
}

nav a{
	color: black;
	text-decoration: none;
	margin: 10px;
	font-weight: bolder;
}

.kontak  {
	margin-left: 950px;		
}

.kontak a:hover {
	background-color: Chartreuse;
  }
  
.kontak a {
	text-decoration: none;
	background-color: green;
	display: inline-block;
	font-size: 18px;
	padding: 10px;
	border-radius: 10px;
	color: black;
	font-weight: bold;
}

.judul1 {
	margin-left: 180px;
	margin-top: 100px;
	font-size: 25px;
	color: black;
	font-weight: bolder;
}

.teks1 {
	margin-left: 180px;
	margin-right: 100px;
	font-size: 20px;
	color: black;
	font-weight: bolder;
}

.register {
	margin-top: 50px;
	margin-left: 300px;
	display: inline-block;
}

.register a {
	text-decoration: none;
	background-color: green;
	font-size: 18px;
	padding: 10px;
	color: white;
	border-radius: 6px;
}

.register-register {
	margin-left: 70px;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;
  margin-top: 100px;
  margin-right: 30px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  height: 400px;
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

h2 {
  margin-bottom: 30px;
  color: ForestGreen;
}

.button-container h2 {
	color: #fff;
}

.button-container h2 a{
	text-decoration: none;
	color: white;
}

input[type="text"], input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

button[type="submit"]  {
  background-color: forestgreen;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 210px;
  height: 80px;
  margin-left: 20px;
}

button[type="submit"]:hover {
  transform: scale(1.1);
}

.forgot {
  margin-top: 20px;
}

.forgot a {
  color: darkred;
  text-decoration: none;
  transition: all 0.3s ease;
}

.forgot a:hover {
  color: ForestGreen;
}